<div class="background-class">
  <div style="display: none;" id="tencentAdvertise"></div>
  <div style="height: 100px">
    <div class="head-resources" style="float: left">
      <img style="height: 50px;width: 50px"
           src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E9%92%BB%E7%9F%B3.png" alt="">
      <span style="position: relative;top: -22px">{{customer.goldCoinsNumber?.toFixed(3) + ''}} </span>
      <span style="position: relative;top: -22px" (click)="jump2GoldCoinsWithdrawalPage()">兑换</span>
    </div>
    <div class="head-resources" style="float: right;margin-right: 5px;padding-left: 10px">
      <img style="height: 30px;width: 30px;position: relative;top: 8px"
           src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E8%83%BD%E9%87%8F.png" alt="">
      <span style="position: relative;top: -2px"> {{customer.energy?.toFixed(3)}}</span>
    </div>
  </div>

  <!-- 金币堆 -->
  <div class="gold-coins-background">
    <div
      *ngFor="let goldCoinsHeap of goldCoinsHeaps"
      (click)="receiveGoldCoinsHeap(goldCoinsHeap)"
      [@receiveGoldCoinsHeaps]="goldCoinsHeap.receivedStatus == goldCoinsHeapConstant.NORMAL ? 'normal' : 'received'"
      [style]="'position:absolute;top: ' + goldCoinsHeap.top + 'px;left: ' + goldCoinsHeap.left + 'px'">
      <div
        class="gold-coins-heap"
        style="position:relative;top:0"
        [@goldCoinsUpAndDown]="goldCoinsHeapShakeCommander > 0 ? 'up' : 'down'"
      >
        <div class="gold-coins-item"></div>
        <div style="color: white">{{goldCoinsHeap.amount}}</div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">每日签到领能量</span>
    <div class="bottom-activity-list-title-right">
      第{{dailySignInEnergyGiftActivities.length}}天签到可领<span style="color: #f62828">{{
      dailySignInEnergyGiftActivities[dailySignInEnergyGiftActivities.length -1]?.amount
      }}</span>能量
    </div>

    <div
      class="icon-list-activity-content"
      #scrollMe
      [scrollLeft]="scrollMe.scrollWidth * (currentSignIndex / dailySignInEnergyGiftActivities.length)"
    >
      <div [style]="'width: ' + dailySignInEnergyGiftActivities.length * 73 + 'px;'" >
        <div
          *ngFor="let dailySignInEnergyGiftActivity of dailySignInEnergyGiftActivities"
          class="icon-list-activity-item-div"
        >
          <div>
            <img style="height: 40px;width: 40px;"
                 src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E8%83%BD%E9%87%8F.png" alt="">
          </div>
          <div style="width: 100%;text-align: center">
            {{dailySignInEnergyGiftActivity.amount}}
          </div>
          <div [ngSwitch]="dailySignInEnergyGiftActivity.signInStatus">
            <div
              *ngSwitchCase="energyGiftActivityConstant.MISSED"
              style="width: 45px;text-align: center;margin-top: 8px;color: #909090;"
            >
              {{dailySignInEnergyGiftActivity.threshold}}天漏
            </div>
            <div
              *ngSwitchCase="energyGiftActivityConstant.SIGNED"
              style="width: 100%;text-align: center;margin-top: 8px;color: #909090;"
            >
              {{dailySignInEnergyGiftActivity.threshold}}天已
            </div>
            <div
              (click)="dailySignIn(dailySignInEnergyGiftActivity)"
              *ngSwitchCase="energyGiftActivityConstant.PENDING_SIGNED"
              style="width: 100%;text-align: center;margin-top: 8px;color: #909090;"
            >
              {{dailySignInEnergyGiftActivity.threshold}}天待
            </div>
            <div
              *ngSwitchCase="energyGiftActivityConstant.CAN_NOT_SIGNED"
              style="width: 100%;text-align: center;margin-top: 8px;color: #909090;"
            >
              {{dailySignInEnergyGiftActivity.threshold}}天没
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">看视频赚能量</span>
    <div class="bottom-activity-list-title-right">获得<span style="color: #f62828">2</span>个永久能量</div>

    <div class="icon-list-activity-content">
      <div style="width: 100000px">
        <div *ngFor="let watchingAdEnergyGiftActivity of watchingAdEnergyGiftActivities" class="icon-list-activity-item-div">
          <div>
            <img style="height: 40px;width: 40px;"
                 src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E8%83%BD%E9%87%8F.png" alt="">
          </div>
          <div style="width: 100%;text-align: center">
            {{watchingAdEnergyGiftActivity.amount + ''}}
          </div>
          <div class="watching-ad-button">
            看视频
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list" *ngIf="!this.customer.tel">
    <span class="bottom-activity-list-title-left">绑定手机号获得永久能量</span>
    <div class="bottom-activity-list-title-right">立即获得<span style="color: #f62828">2</span>个永久能量</div>

    <div class="button-activity-content">
      <div class="button-activity-left">
        <div class="button-activity-content-top">
          <div style="position: relative;top: 40%;">绑定手机号获得<span style="color: red">永久</span>能量</div>
        </div>
        <div class="button-activity-content-bottom">
          <div style="position: relative;top: 10%;">立即获得两个永久能量</div>
        </div>
      </div>

      <div class="button-activity-right">
        <div class="click-button">
          去绑定
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">邀请好友获得钻石</span>
    <div class="bottom-activity-list-title-right">限制最多邀请<span style="color: #f62828">30</span>位好友</div>

    <div class="button-activity-content">
      <div class="button-activity-left">
        <div class="button-activity-content-top">
          <div style="position: relative;top: 40%;">邀请好友获得<span style="color: red">500</span>现金</div>
        </div>
        <div class="button-activity-content-bottom">
          <div style="position: relative;top: 10%;">邀请人越多 提现金额越大</div>
        </div>
      </div>

      <div class="button-activity-right">
        <div class="click-button">
          邀请好友
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">点外卖购物赚能量</span>
    <div class="bottom-activity-list-title-right">每次最多获得<span style="color: #f62828">300</span>能量</div>

    <div class="button-activity-content">
      <div class="button-activity-left">
        <div class="button-activity-content-top">
          <div style="position: relative;top: 40%;">邀请好友获得<span style="color: red">500</span>现金</div>
        </div>
        <div class="button-activity-content-bottom">
          <div style="position: relative;top: 10%;">邀请人越多 提现金额越大</div>
        </div>
      </div>

      <div class="button-activity-right">
        <div class="click-button">
          去购物
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">限时领钻石</span>
    <div class="bottom-activity-list-title-right">每天最多领<span style="color: #f62828">80</span>钻石</div>

    <div class="icon-list-activity-content" style="height: 150px">
      <div>
        <div *ngFor="let receiveAtFixTimeGoldCoinsGiftActivity of receiveAtFixTimeGoldCoinsGiftActivities" class="icon-list-activity-item-div"
             style="width: 25%;padding: 16px 0 16px 0">
          <div style="text-align: center">
            <img style="height: 60px;width: 60px;text-align: center"
                 src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E9%92%BB%E7%9F%B3.png" alt="">
          </div>
          <div style="width: 100%;text-align: center;font-weight: bold;font-size: 10px">
            {{ receiveAtFixTimeGoldCoinsGiftActivity.startTime | date: 'HH:mm' }}
            -
            {{ receiveAtFixTimeGoldCoinsGiftActivity.endTime | date: 'HH:mm' }}
          </div>
          <div [ngSwitch]="receiveAtFixTimeGoldCoinsGiftActivity.receiveStatus" style="text-align: center">
            <div *ngSwitchCase="goldCoinsGiftActivityConstant.MISSED" class="receiveAtFixTimeGoldCoinsGiftActivities-button-missed">已过期</div>
            <div *ngSwitchCase="goldCoinsGiftActivityConstant.RECEIVED" class="receiveAtFixTimeGoldCoinsGiftActivities-button-missed">已领取</div>
            <div *ngSwitchCase="goldCoinsGiftActivityConstant.PENDING_RECEIVE" class="receiveAtFixTimeGoldCoinsGiftActivities-button" (click)="receiveAtFixTime(receiveAtFixTimeGoldCoinsGiftActivity)">领取</div>
            <div *ngSwitchCase="goldCoinsGiftActivityConstant.CAN_NOT_RECEIVE" class="receiveAtFixTimeGoldCoinsGiftActivities-button-missed">待领取</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bottom-activity-list">
    <span class="bottom-activity-list-title-left">商城浏览商品所及获得能量</span>

    <div class="button-activity-content">
      <div class="button-activity-left">
        <div class="button-activity-content-top">
          <div style="position: relative;top: 40%;">商城浏览商品所及获得能量</div>
        </div>
      </div>

      <div class="button-activity-right">
        <div class="click-button">
          去浏览
        </div>
      </div>
    </div>
  </div>

</div>
