<TextareaItem [rows]="keyword.length / 15" [(ngModel)]="keyword"> </TextareaItem>

<div *ngFor="let goods of goodsList">
  <List [className]="'my-list'">
    <img style="width: 100%" [src]="goods.image"/>
    <ListItem wrap>{{goods.title}}</ListItem>

    <ListItem [extra]="price">价格</ListItem>
    <ng-template #price>
      <div class="message1">{{goods.priceAfterCoupon.toFixed(2)}}元 <del>{{goods.price.toFixed(2)}}元</del></div>
    </ng-template>

    <ListItem [extra]="commission">佣金</ListItem>
    <ng-template #commission>
      <div class="message1">{{goods.commissionAmount}}元</div>
    </ng-template>

    <ListItem *ngIf="goods.shortLink" [extra]="shareUrl" wrap (click)="copyInputMessage(goods.shortLink)">链接</ListItem>
    <ng-template #shareUrl>
      <span style="color: blue" (click)="copyInputMessage(goods.shortLink)">{{goods.shortLink}}</span>
    </ng-template>

    <ListItem *ngIf="!goods.shortLink" wrap (click)="createGoodsLink(goods)">点击生成链接</ListItem>

    <ListItem></ListItem>
  </List>
</div>

<div style="position: fixed;bottom: 0;width: 100%">
  <nzm-button (onClick)="searchGoods(2)" style="width: 20%;float: left;">淘宝</nzm-button>
  <nzm-button (onClick)="searchGoods(1)" style="width: 20%;float: left;">京东</nzm-button>
  <nzm-button (onClick)="searchGoods(3)" style="width: 20%;float: left;">拼多多</nzm-button>
  <nzm-button (onClick)="showActionSheet()" style="width: 40%;float: left;">其他</nzm-button>
</div>
