
<!--<button style="height: 40px;width: 40px" (click)="jump2detail()">跳转详情</button>-->

<div style="width: 100%">
  <div style="text-align: center;padding: 10% 0;">
    <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/0.png" style="width: 80%" alt="">
  </div>
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/1.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/2.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/3.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/4.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/5.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/6.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/7.png" class="content-image" alt="">
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/upload/%E6%95%99%E7%A8%8B%E9%A1%B5%E9%9D%A2/8.png" class="content-image" alt="">

<!--  <button style="border: none;background: #47474B;color: #F5F5F5;width: 96%;margin: 2%;height: 50px;border-radius: 5px;font-size: 16px">查看更多规则</button>-->
</div>
