<title>233</title>
<div class="content">
  <div class="up">
    <div class="up-title">
      <div class="up-title-left">
        <div class="up-title-left-first-floor">
          <span>用户余额 ></span>
        </div>
        <div class="up-title-left-second-floor">
          <span style="font-size: 22px">￥10</span>
          <span>(≈180000钻石)</span>
        </div>
      </div>
      <div class="up-title-right">
        <div class="up-title-right-first-floor">
          新人红包
          <img src="http://shenghenduooss.gohong.com/constant/icons/%E6%84%9F%E5%8F%B9%E5%8F%B7%E4%B8%AD.png">
        </div>
        <div class="up-title-right-second-floor">
          <span style="font-size: 22px;color: #f62828">￥5</span>
          <span>入账中</span>
        </div>
      </div>
    </div>

    <div class="up-description">
      18000<img style="height: 26px;width: 26px;position: relative;top: 9px"
                 src="http://shenghenduooss.gohong.com/upload/system/gold-coins-receive/%E9%AB%98%E6%B8%85%E9%92%BB%E7%9F%B3.png" alt="">≈1.00元 48小时未登录衰减金币总量5%
    </div>
  </div>

  <div class="down">
    <div class="down-content">
      <div class="down-title">
        <span class="down-title-left">提现金额</span>
        <span class="down-title-right">提现说明</span>
      </div>
      <div class="down-content">
        <div class="down-content-checkbox-div">
          <div class="down-content-checkbox-checked">
            <div class="down-content-checkbox-right-title">可提一次</div>
            <div class="down-content-checkbox-content">0.3元</div>
            <div class="down-content-checkbox-description">首次登录可提</div>
          </div>
        </div>
        <div class="down-content-checkbox-div">
          <div class="down-content-checkbox">
            <div class="down-content-checkbox-right-title">每天可提</div>
            <div class="down-content-checkbox-content">0.3元</div>
            <div class="down-content-checkbox-description">今日获得能量>40</div>
          </div>
        </div>
        <div class="down-content-checkbox-div">
          <div class="down-content-checkbox">
            <div class="down-content-checkbox-right-title-hide"></div>
            <div class="down-content-checkbox-content">0.3元</div>
            <div class="down-content-checkbox-description">满7天可每天提</div>
          </div>
        </div>
        <div class="down-content-checkbox-div">
          <div class="down-content-checkbox">
            <div class="down-content-checkbox-right-title-hide"></div>
            <div class="down-content-checkbox-content">2元</div>
            <div class="down-content-checkbox-description">满17天可每天提</div>
          </div>
        </div>
        <div class="down-content-checkbox-div">
          <div class="down-content-checkbox">
            <div class="down-content-checkbox-right-title-hide"></div>
            <div class="down-content-checkbox-content">500元</div>
            <div class="down-content-checkbox-description">满500可提</div>
          </div>
        </div>
      </div>
    </div>

    <div class="down-submit-button">
      提现到微信
    </div>
  </div>
</div>
