<div class="my-overlay" *ngIf="showShadow">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  <img src="http://shenghenduo.oss-cn-beijing.aliyuncs.com/constant/jump2chrome.png" style="width: 50%;position: absolute;top: 2%;right: 8%">
</div>

<img style="width: 100%"
     src="http://shenghenduooss.gohong.com/constant/invite-base.png"
     alt="" (click)="jump2download()">
<div style="position: absolute;top: 2%;left: 5%;">
  <img style="height: 50px;width: 50px;float: left;border-radius: 50%;margin-right: 10px"
       [src]="parentAvatar"
       alt="">
  <div style="float: left;padding-top: 7%;color:#eeeeee">
    <div>你的好友</div>
    <div>{{ parentDisplayName }}</div>
  </div>
</div>

<div (click)="jump2download()" style="height: 10%;width: 80%;position: absolute;top: 80%;left: 10%">

</div>
