
<div style="display: none;" id="tencentAdvertise"></div>
<div
  class="header-image"
  [style]="activityTransferPage ? 'background: url(\'' + activityTransferPage!.headerImageUrl + '\') no-repeat;background-size: 100% 100%' : ''">

</div>
<div class="content">
  <div
    class="content-button"
    [@confirmButtonSizeChange]="confirmButtonSizeChangeCommander > 0 ? 'big' : 'normal'"
    (click)="akagi()"
  >
    {{buttonMsg}}
  </div>
  <div class="content-detail">
    <div class="content-detail-kouling">
      {{content}}

    </div>
    <div class="content-detail-button">
      <span>复制口令</span>
    </div>
    <div class="content-detail-tail">
      <span>分享好友   好友下单   你赚佣金</span>
    </div>
  </div>
</div>
